html,body{width: 100%;height: 100%;font-family: 'Microsoft yahei';margin:0;font-size:1rem;}
em{  font-style: normal;}
ul{list-style: none}
a{text-decoration: none;color:#FFF}
a:hover{text-decoration: none;}
h1,h2,h3,h4,h5,h6,p,ul,li{margin: 0;padding:0;}
input{outline: none;}
.fl{float: left;}
.fr{float: right;}
.cf{zoom:1;}
.cf:after{display: block;content: '';clear: both;}
.pr{position: relative;}
.pa{position: absolute;}
.none{display: none;}

.w30{width: 30%}
.w33{width: 33.33%}
.w40{width: 40%}
.w50{width: 50%}
.w60{width: 60%}
.w70{width: 70%}
.w80{width: 80%}

.inline-block{display: inline-block;}

.hide{
    display: none;
}
.display{
    display: block;
}

/*begin*/
.controller{
    width: 100%;
    height:100%;
    min-width:1366px;
    min-height:768px;
    display: block;
    overflow: hidden;
    background: url("../img/bg.png");
    background-size: 100% 100%;
}
.block{
    height:100%;
    overflow: hidden;
}
.block_1{
}
.block_2{
}
.block_3{
}
.block_4{
}
.block_5{
    border-left:1px solid #0548C3;
    border-right:1px solid #0548C3;
}
.block_6{
    border-left:1px solid #0548C3;
    border-right:1px solid #0548C3;
    border-bottom:1px solid #0548C3;
}
.block_7{
}
.block_8{
    height: 65%;
}
.block_9{
    width:47%;
    margin:0 1% 0 2%;
    height: 100%;
}
.block_10{
    width:47%;
    margin:0 2% 0 1%;
    height: 100%;
}
.block_11{
    width:47%;
    margin:0 1% 0 2%;
    height: 100%;
}
.block_12{
    width:47%;
    margin:0 2% 0 1%;
    height: 100%;
}
.block_13{
    height: 50%;
}
.block_14{
    height: 50%;
}
.date_box{
    border: 5px solid #0660cc;
    height: 85%;
    width: 45%;
    margin: 5% 0 0 2%;
}
.load_status_box{
    height: 85%;
    width: 47%;
    margin: 5% 0 0 2%;
}
.load_status_title {
    height: 0;
    border-bottom: 39px solid #0456C5;
    border-left: 0px solid transparent;
    border-right: 19px solid transparent;
    color: #FFF;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: 1px;
}
.load_status_info{
    border:1px solid #0548C3;
    height:89%;
}
.date_p{
    height: 15%;
    text-align: center;
    line-height: 250%;
    letter-spacing: 1px;
    color: #449BE9;
    font-size: 1em;
}
.date_p em{
    color: #FFF;
    margin: 0 2px;
}
.time_p{
    height: 15%;
    text-align: center;
    letter-spacing: 0.1em;
    color: #449BE9;
    font-size: 1.5em;
    border-bottom: 2px solid #064EBE;
}
.time_p em{
    color: #FFF;
    margin: 0 4px;
}
.safe_day{
    height: 15%;
    line-height: 225%;
    text-align: center;
    color: #FFF;
    font-size: 1em;
    border-bottom: 2px solid #064EBE;
}
.safe_day span{
    color: #F6FF00;
    margin: 0 8px;
    font-size: 1.5em;
}
.electricity_num{
    height:25%;
    border-bottom: 2px solid #064EBE;
}
.electricity_num p{
    text-align: center;
    height: 50%;
    line-height: 200%;
    color: #50B3FF;
    font-size: 1em;
}
.electricity_num span{
    display: block;
    text-align: center;
    height: 50%;
    line-height: 200%;
    color: #50B3FF;
    font-size: 1em;
}
.electricity_num span em{
    color: #F6FF00;
    margin: 0 5px;
    font-size: 1em;
}
.load_rate{
    height:25%;
}
.load_rate p{
    text-align: center;
    height: 50%;
    line-height: 250%;
    color: #50B3FF;
    font-size: 1em;
}
.load_rate span{
    display: block;
    text-align: center;
    height: 50%;
    line-height: 250%;
    color: #50B3FF;
    font-size: 1em;
}
.load_rate span em{
    color: #F6FF00;
    margin: 0 5px;
    font-size: 1em;
}
.load_status_info_box{
    height: 90%;
    width: 90%;
    margin: 5%;
    overflow: hidden;
    background: -webkit-linear-gradient(#077C88, #081A7C);
    background: -o-linear-gradient(#077C88, #081A7C);
    background: -moz-linear-gradient(#077C88, #081A7C);
    background: linear-gradient(#077C88, #081A7C);
}
.load_status_info_box p{
    height:8%;
    color:#FFF;
    margin-top:2%;
}
.load_status_info_box p span{
    display: block;
    float: left;
    margin-left: 3%;
    font-size: 0.75em;
}
.load_status_info_box p em{
    width: 26%;
    display: block;
    float: left;
    font-size: 0.75em;
    height: 100%;
    background: #081B7E;
    margin: 0 6px;
    text-align: center;
}
.load_status_info_box p b{
    font-weight: normal;
    font-size: 0.75em;
}

.curve_box{
    height: 95%;
    width: 95.4%;
    border: 1px solid #004AC8;
    margin-left: 2%;
}
.curve_box_title{
    height: 12%;
    text-align: center;
    line-height:200%;
    color:#FFF;
    background: -webkit-linear-gradient(#0374D8, #053FB7); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#0374D8, #053FB7); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#0374D8, #053FB7); /* Firefox 3.6 - 15 */
    background: linear-gradient(#0374D8, #053FB7); /* 标准的语法 */
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.1em;
}
.curve_box_info{

}

.logo{
    height: 33%;
    margin: 7% 0 0 0%;
}
.block_4_box{
    height:100%;
}
.tit_box{
    height: 33%;
    color: #00FCFD;
    font-size: 0.75em;
    margin: 7% 0 0 2%;
    border-right:2px solid #00FCFD;
    padding-right:2%;
}
.tit_box span{
    display: block;
}
.tit_box em{
    display: block;
}
.tit_box2{
    height: 33%;
    color: #00FCFD;
    font-size: 0.75em;
    margin: 7% 0 0 3%;
    padding-right:1%;
}
.tit_box2 span{
    display: block;
}
.tit_box2 em{
    display: block;
}
.site_title{
    color: #FFF;
    text-align: center;
    line-height: 300%;
    height: 100%;
    font-size: 1.3em;
    letter-spacing: 0.1em;
    font-weight: bold;
}

.change_dv select{
    background: #063DAE;
    border-radius: 50px;
    border: none;
    color: #FFF;
    font-size: 0.875em;
    padding-left: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin-top: 10px;
    width: 130px;
    margin: 10% 0 0 22%;
}
.change_dv em{
    width: 0;
    height: 0;
    border-top: 5px solid #FFFFFF;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}
.main_box{
    height: 95%;
}
.main_box_title{
    line-height: 225%;
    color: #FFF;
    background: -webkit-linear-gradient(#0374D8, #053FB7);
    background: -o-linear-gradient(#0374D8, #053FB7);
    background: -moz-linear-gradient(#0374D8, #053FB7);
    background: linear-gradient(#0374D8, #053FB7);
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-align: center;
}
.scale{
    height: 90%;
    width: 35%;
    margin-left: 2%;
    border-top:1px solid #0548C3;
    border-left:1px solid #0548C3;
    border-bottom:1px solid #0548C3;
    position: relative;
}
.scale_bg {
    width:100%;
    height:100%;
    position: absolute;
    background: #071F73;
    opacity: .4;
    z-index: 1;
}
.scale_info{
    z-index: 2;
    width: 100%;
    height: 100%;
}
.scale h1{
    color: #FFF;
    text-align: center;
    font-size: 1em;
    height: 16%;
    line-height: 30px;
    border-right:1px solid #0548C3;
}
.scale p{
    color: #FFF;
    font-size: 0.875em;
    height: 14%;
    line-height: 30px;
}
.scale span{
    display: block;
    float: left;
    border-top: 1px solid #0548C3;
    border-right: 1px solid #0548C3;
    width: 60%;
    text-indent: 12%;
}
.scale em{
    color:yellow;
    display: block;
    float: left;
    border-top:1px solid #0548C3;
    border-right:1px solid #0548C3;
    width:39%;
}
.scale i{
    display: block;
    margin-right: 17%;
    float: right;
    font-style: normal;
}
.scale b{
    display: block;
    float: right;
    color: #FFF;
    margin-right: 18%;
    font-size: 1em;
}
.icon_box_1{
    float: left;
    width: 20%;
    margin: 9% 0 0 10%;
}
.icon_box_1 p{
    height: 30px;
    color: #FFF;
    clear: both;
    line-height: 30px;
}
.icon_box_1 em{
    display: block;
    float: left;
}
.icon_box_1 span{
    display: block;
    float: left;
    margin-left:10px;
}

.list_box{
    width: 100%;
    margin: 0 0 0 2%;
}
.list_title {
    height: 0;
    border-bottom: 39px solid #0456C5;
    border-left: 19px solid transparent;
    border-right: 0px solid transparent;
    color: #FFF;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: 0.1em;
}
.list_info{
    display: block;
    overflow-y: scroll;
    height: 85%;
    border-left: 1px solid #0365CD;
    border-right: 1px solid #0365CD;
    border-bottom: 1px solid #0365CD;
}
.list_info li{
    height:30px;
}
.list_info_head {

}
.list_info_head p{
    background: #05156A;
    float: left;
    width: 30%;
    text-align: center;
    color: #DDE619;
    font-size: 0.75em;
    line-height: 20px;
    margin: 5px 1%;
    border: 1px solid #0152CB;
}
.list_info_body{

}
.list_info_body p{
    float: left;
    width: 33.33%;
    text-align: center;
    color: #FFF;
    font-size: 0.75em;
    line-height: 30px;
}

.list_info::-webkit-scrollbar
{
    width: 10px;
    background-color: blue;
}
.list_info::-webkit-scrollbar-thumb
{
    background-color: #053fb7;
    border-radius: 10px;
}



.list2_box{
    height: 85%;
    width: 100%;
    margin: 0 0 0 2%;
}
.list2_title {
    height: 17%;
    text-align: center;
    line-height: 230%;
    color: #FFF;
    background: -webkit-linear-gradient(#0374D8, #053FB7);
    background: -o-linear-gradient(#0374D8, #053FB7);
    background: -moz-linear-gradient(#0374D8, #053FB7);
    background: linear-gradient(#0374D8, #053FB7);
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.1em;
}
.list2_info{
    display: block;
    overflow-y: scroll;
    height: 100%;
    border-left: 1px solid #0365CD;
    border-right: 1px solid #0365CD;
    border-bottom: 1px solid #0365CD;
}
.list2_info li{
    height:30px;
}
.list2_info_head {

}
.list2_info_head p{
    background: blue;
    float: left;
    width: 30%;
    text-align: center;
    color: #FFF;
    font-size: 1em;
    line-height: 20px;
    margin: 5px 1%;
    border: 1px solid red;
}
.list2_info_body{

}
.list2_info_body p{
    float: left;
    width: 33.33%;
    text-align: center;
    color: #FFF;
    font-size: 1em;
    line-height: 30px;
}

.list2_info::-webkit-scrollbar
{
    width: 10px;
    background-color: blue;
}
.list2_info::-webkit-scrollbar-thumb
{
    background-color: #053fb7;
    border-radius: 10px;
}

.shipin_div{

}
.shipin_title{
    height: 0;
    border-bottom: 39px solid #0456C5;
    border-left: 19px solid transparent;
    border-right: 0px solid transparent;
    color: #FFF;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: 0.1em;
    margin-left: 2%;
    margin-right: 2%;
}

.shipin_body{
    width:96%;
    border-left:1px solid #0548C3;
    border-right:1px solid #0548C3;
    border-bottom:1px solid #0548C3;
    margin:0 auto;
}
.search_box{
    position: relative;
}


.sp_text{
    position: absolute;
    background: #05135F;
    border: none;
    width: 90%;
    border-radius: 500px;
    margin-left: 5%;
    text-indent: 2em;
    color: #FFF;
    display: block;
    float: left;
}
.sp_btn{
    position: absolute;
    display: block;
    float: left;
    right: 5%;
    border: none;
    background: url("../img/img1.png");
    width: 5%;
    border-radius: 50px;
}
.shipin_body ul{
    width:96%;
    margin:0 auto;
}
.shipin_body  li {
    float: left;
    width: 31.33%;
    margin: 0 1%;
}
.shipin_body li div{

}
.shipin_body li div p{

}
.shipin_body li div h2{
    color: #FFF;
    font-size: 0.875em;
    text-align: center;
    line-height: 225%;
}




















